@font-face {
    font-family: dreaming;
    src: url(fonts/Dreaming.otf);
}

* {
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dddfd3;
}

.logo-holder{
    position: absolute;
    width: 100%;
    top: 58px;
    height: 10rem;
    background-color: #000;
    opacity: .65;
}

.logo{
    position: absolute;
    right: 24px;
    top: -162px;
    width: 400px;
    
}

.logo-img{
    position: absolute;
    right: 139px;
    top: -9px;
    width: 200px;
}

.card-container{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
    width: 1080px;
    height: 500px;
    background-image: url(img/backgound.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: -1px 13px 20px 0px;
    
    
}

.instructions{
    text-align: start;
    font-size: 2rem;
    font-family: dreaming, serif ;
    margin-left: 4.5rem;

}

.instructions h1{
    margin: 0;
    padding-top: 20px;
    font-weight: 100;
}
.instructions p{
    margin: 0;
}

.form-card{
    align-self: center;
    width: 100%;
    height: 502px;
    clip-path: polygon(0 0, 100% 0, 100% 0%, 89% 100%, 0 100%, 0 65%);
    background-color: #89e9b4;
    
}

.form-wrap{
    filter: drop-shadow(26px 14.5px 39px #000);
}

form{
    height: 100%;
}
fieldset{
    border:  0;
    height: 298px;
    margin: 1rem;
    padding-right: 45px;
}
ul{
    list-style: none;
    columns: 2;
    padding-left: 15px;
    position: relative;
    
}

li{
   margin-bottom: 1.5rem;
   
}

input{
    width: 75%;
    border: 0;
    border-bottom: 1px solid rgb(163, 162, 162);
    border-radius: 12px;
    outline: none;
    transition: all .5s ease-in-out;
    background-color: #b5f1b5;
    text-indent: 7px;
}

li label{
    position: relative;
    bottom: .9rem;
    right: -11px;
    width: 75%;
    color: black;
    float: left;
    font-size: .9rem;
    font-family: Dreaming;
    font-weight: 900;
    cursor: text;
    transition: all .5s ease-in-out;
}

label::after{
    content: '*';
    font-family: 'Courier New', Courier, monospace;
    font-weight: 200;
    color: red;
}

input:focus,
input:valid{
    border-bottom: 1px gray;
}

input[type='email']:required:placeholder-shown:focus ~ label{
    transform: translateY(-2rem);
    font-size: .8rem;
    color: black;
    
}


input[type='email']:required:placeholder-shown ~ label{
    position: relative;
    bottom: -.1rem;
    right: -11px;
    width: 75%;
    color: black;
    float: left;
    font-size: .9rem;
    cursor: text;
    transition: all .5s ease-in-out;
}

input[type='email']:required:placeholder-shown{
    border-bottom: 1px solid hsl(0, 0%, 51%);
    
}

input[type='email']:invalid {
    border-bottom: 1px solid #ff0000;
}

input[type='email']:invalid ~ label{
    transform: translateY(-1rem);
    font-size: .8rem;
    color: black;
}

input:invalid{
    border-bottom: 1px solid red;
}


li input:focus ~ label, 
li input:valid ~ label{
    transform: translateY(-1rem);
    font-size: .8rem;
    color: black;
}

.submitButton{
    text-align: center;
}

.login{
    text-align: center;
}

.picture{
    align-self: center;
    width: 40%;
    height: 500px;
    
   
}


.submit{
    border: 1px solid black;
    border-radius: 15px;
    background-color: #b5f1b5;
    width: 10rem;
    height: 2rem;
    box-shadow: inset -6px -7px 6px -8px black;
    font-family: Dreaming;
    font-weight: 900;
}

.submit span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .submit span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: -13px;
    right: 0px;
    transition: 0.5s;
  }
  
  .submit:hover span {
    padding-right: 25px;
  }
  
  .submit:hover span:after {
    opacity: 1;
    right: 0;
  }