@font-face {
    font-family: dreaming;
    src: url(fonts/Dreaming.otf);
}

* {
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
    border: 1px solid black;
    width: 1080px;
    height: 500px;
    background-image: url(img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: -1px 13px 20px 0px;
    
    
}

.instructions{
    text-align: start;
    font-size: 2rem;
    font-family: dreaming, serif ;
    margin-left: 4.5rem;

}

.instructions h1{
    margin: 0;
    padding-top: 20px;
    font-weight: 100;
}
.instructions p{
    margin: 0;
}

.form-card{
    align-self: center;
    width: 100%;
    height: 502px;
    clip-path: polygon(0 0, 100% 0, 100% 0%, 89% 100%, 0 100%, 0 65%);
    background-color: aliceblue;
    
}

.form-wrap{
    filter: drop-shadow(26px 14.5px 39px #000);
}

form{
    height: 100%;
}
fieldset{
    border:  0;
    height: 298px;
    margin: 1rem;
    padding-right: 45px;
}
ul{
    list-style: none;
    columns: 2;
    padding-left: 15px;
    position: relative;
    
}

li{
   margin-bottom: 1.5rem;
   
}

input{
    width: 75%;
    border: 0;
    border-bottom: 1px solid rgb(163, 162, 162);
    outline: none;
    transition: all .5s ease-in-out;
    
}

li label{
    position: relative;
    bottom: 1rem;
    width: 100%;
    color: black;
    float: left;
    font-size: .9rem;
    cursor: text;
    transition: all .5s ease-in-out;
}

li label:after{
    content: '*';
}


li input:focus + label{
    transform: translateY(-1.5rem);
    font-size: .6rem;
    color: black;
}

.submitButton{
    text-align: center;
}

.login{
    text-align: center;
}

.picture{
    align-self: center;
    width: 40%;
    height: 500px;
    
   
}
